.userleft{
    margin-top: 8%;
    background-color: white;
    width: 22%;
    padding: 20px;
    margin-left: 10%
    
    
 

}
.userleft{
    border-radius: 7px;
}

li{
    list-style: none;
   
   

}
