* { 
    box-sizing: border-box;
} 

* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

header { 
    display: block;
} 

.header-i6x { 
    padding: .75rem 1.25rem; 
    margin-bottom: 0; 
    background-color: rgba(0,0,0,.03); 
    border-bottom: 1px solid rgba(0,0,0,.125);
} 

.header-i6x:first-child { 
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
} 

.header-i6x  { 
    padding: 20px; 
    border-bottom-color: #d5d5d5; 
    background-color: #fff; 
    border-radius: 8px 8px 0 0;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.list-group-qoa { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    padding-left: 0; 
    margin-bottom: 0; 
    border-radius: .25rem;
} 

.list-group-qoa  { 
    border-radius: 0; 
    border: none;
} 

.list-group-qoa  { 
    justify-content: space-between;
} 

.list-group-item-mx3 { 
    position: relative; 
    display: block; 
    padding: .75rem 1.25rem; 
    background-color: #fff; 
    border: 1px solid rgba(0,0,0,.125);
} 

.list-group-item-mx3:first-child { 
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
} 

.list-group-item-mx3  { 
    border: none; 
    border-left: 1px solid #d5d5d5; 
    padding: 20px; 
    height: 80px; 
    border-left-width: 1px!important;
} 

.list-group-item-mx3  { 
    border-right-width: 0; 
    padding-bottom: 10px; 
    height: auto;
} 

.list-group-item-mx3:first-child  { 
    border-bottom-left-radius: 8px;
} 

.list-group-qoa .list-group-item-mx3:first-child  { 
    border-left: 0!important;
} 

.list-group-item-mx3:first-child  { 
    border-radius: 0;
} 

.list-group-item-mx3  { 
    display: block!important; 
    border-left: none!important;
} 

.list-group-item-mx3 + .list-group-item-mx3  { 
    border-top-width: 0;
} 

.list-group-item-mx3:last-child { 
    border-bottom-right-radius: inherit; 
    border-bottom-left-radius: inherit;
} 

.list-group-item-mx3:last-child  { 
    border-bottom-right-radius: 8px; 
    border-right-width: 0; 
    flex: 1;
} 

.list-group-qoa .list-group-item-mx3:last-child  { 
    border-left-width: 0!important;
} 

.list-group-item-mx3:last-child  { 
    flex: none;
} 

h5 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h5 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h5 { 
    font-size: 1.25rem;
} 

h5 { 
    margin-bottom: 0;
} 

.label-7pv { 
    font-weight: 700; 
    font-size: 13px; 
    line-height: 16px; 
    margin-bottom: 10px;
} 

.item-77m { 
    display: flex; 
    align-items: flex-start;
} 

.item-eb3 .label-7pv  { 
    margin-bottom: 0;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    font-size: 16px; 
    line-height: 30px; 
    font-weight: 400; 
    color: #767676; 
    margin: 0;
} 

.label-2dv { 
    font-weight: 500; 
    font-size: 13px; 
    line-height: 16px;
} 

.select-g5a { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.item-cye { 
    font-weight: 500; 
    font-size: 14.5px; 
    line-height: 16px; 
    color: rgba(55,55,54,.7); 
    margin-bottom: 0;
} 

.cop-2lp { 
    margin-left: 12px; 
    display: flex;
} 

button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 



.btn-1fz { 
    display: inline-block; 
    font-weight: 400; 
    color: #212529; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: 1px solid transparent; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5; 
    border-radius: .25rem; 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.btn-link-ywy { 
    font-weight: 400; 
    color: #007bff; 
    text-decoration: none;
} 

.btn-link-ywy { 
    background: 0 0; 
    border: none; 
    font-size: 13px; 
    line-height: 15px; 
    color: #5f5f5e;
} 

[type="button"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.cop-2lp .btn-1fz  { 
    padding: 0;
} 

.btn-1fz:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn-1fz:hover { 
    color: #212529; 
    text-decoration: none;
} 

.btn-link-ywy:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

.cop-2lp .btn-link-ywy:hover { 
    text-decoration: none;
} 

.btn-link-ywy:hover,.btn-link-ywy:not(:disabled):not(.disabled):active { 
    background: 0 0; 
    color: #5f5f5e;
} 

.cop-2lp .btn-link-ywy:hover, .cop-2lp .btn-link-ywy:focus { 
    text-decoration: none;
} 

i[class*="icon-"] { 
    font-family: icons!important; 
    font-style: normal; 
    font-weight: 400; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 
.header-p28{
    width: 50%;
}
.footer-dnb{
    width: 50%;
}
* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-header:first-child { 
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.list-group-rji { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    padding-left: 0; 
    margin-bottom: 0; 
    border-radius: .25rem;
} 

.list-group-rji  { 
    border-radius: 0; 
    border: none;
} 

.list-group-rji  { 
    justify-content: space-between;
} 

.footer-dnb { 
    padding: .75rem 1.25rem; 
    background-color: rgba(0,0,0,.03); 
    border-top: 1px solid rgba(0,0,0,.125);
} 

.footer-dnb  { 
    padding: 25px 20px; 
    background-color: #fff; 
    border-top: 1px solid #d5d5d5!important; 
    border-radius: 0 0 8px 8px;
} 

.footer-dnb  { 
    border-top-width: 0!important;
} 

.list-group-fzr { 
    -ms-flex-direction: row; 
    flex-direction: row;
} 

.list-group-item-3r9 { 
    position: relative; 
    display: block; 
    padding: .75rem 1.25rem; 
    background-color: #fff; 
    border: 1px solid rgba(0,0,0,.125);
} 

.list-group-item-3r9:first-child { 
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
} 

.list-group-item-3r9  { 
    border: none; 
    border-left: 1px solid #d5d5d5; 
    padding: 20px; 
    height: 80px; 
    border-left-width: 1px!important;
} 

.list-group-item-3r9  { 
    border-right-width: 0; 
    padding-bottom: 10px; 
    height: auto;
} 

.list-group-item-3r9:first-child  { 
    border-bottom-left-radius: 8px;
} 

.list-group-rji .list-group-item-3r9:first-child  { 
    border-left: 0!important;
} 

.list-group-item-3r9:first-child  { 
    border-radius: 0;
} 

.list-group-item-3r9  { 
    display: block!important; 
    border-left: none!important;
} 

.list-group-item-3r9 + .list-group-item-3r9  { 
    border-top-width: 0;
} 

.list-group-fzr > .list-group-item-3r9 + .list-group-item-3r9  { 
    border-top-width: 1px; 
    border-left-width: 0;
} 

.list-group-item-3r9  { 
    padding-top: 0; 
    padding-bottom: 30px;
} 

.list-group-fzr .list-group-item-3r9  { 
    flex-basis: 33%;
} 

.list-group-item-3r9:last-child { 
    border-bottom-right-radius: inherit; 
    border-bottom-left-radius: inherit;
} 

.list-group-fzr > .list-group-item-3r9:last-child  { 
    border-top-right-radius: .25rem; 
    border-bottom-left-radius: 0;
} 

.list-group-item-3r9:last-child  { 
    border-bottom-right-radius: 8px; 
    border-right-width: 0; 
    flex: 1;
} 

.list-group-rji .list-group-item-3r9:last-child  { 
    border-left-width: 0!important;
} 

.list-group-item-3r9:last-child  { 
    flex: none;
} 

.list-group-fzr > .list-group-item-3r9:first-child  { 
    border-bottom-left-radius: .25rem; 
    border-top-right-radius: 0;
} 

h5 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h5 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h5 { 
    font-size: 1.25rem;
} 

h5 { 
    margin-bottom: 0;
} 

.label-8y9 { 
    font-weight: 700; 
    font-size: 13px; 
    line-height: 16px; 
    margin-bottom: 10px;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    font-size: 16px; 
    line-height: 30px; 
    font-weight: 400; 
    color: #767676; 
    margin: 0;
} 

.item-7fg { 
    font-weight: 500; 
    font-size: 14.5px; 
    line-height: 16px; 
    color: rgba(55,55,54,.7); 
    margin-bottom: 0;
} 
.style-alZFe{
    width: 50%;
}
.card-header:first-child { 
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.list-group-5gv { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    padding-left: 0; 
    margin-bottom: 0; 
    border-radius: .25rem;
} 

.list-group-5gv  { 
    border-radius: 0; 
    border: none;
} 

.list-group-5gv  { 
    justify-content: space-between;
} 

.list-group-item-78s { 
    position: relative; 
    display: block; 
    padding: .75rem 1.25rem; 
    background-color: #fff; 
    border: 1px solid rgba(0,0,0,.125);
} 

.list-group-item-78s:first-child { 
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
} 

.list-group-item-78s  { 
    border: none; 
    border-left: 1px solid #d5d5d5; 
    padding: 20px; 
    height: 80px; 
    border-left-width: 1px!important;
} 

.list-group-item-78s  { 
    border-right-width: 0; 
    padding-bottom: 10px; 
    height: auto;
} 

.list-group-item-78s:first-child  { 
    border-bottom-left-radius: 8px;
} 

.list-group-5gv .list-group-item-78s:first-child  { 
    border-left: 0!important;
} 

.list-group-item-78s:first-child  { 
    border-radius: 0;
} 

.list-group-item-78s  { 
    display: block!important; 
    border-left: none!important;
} 

.label-68e { 
    font-weight: 700; 
    font-size: 13px; 
    line-height: 16px; 
    margin-bottom: 10px;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

p { 
    font-size: 16px; 
    line-height: 30px; 
    font-weight: 400; 
    color: #767676; 
    margin: 0;
} 

.item-vo8 { 
    font-weight: 500; 
    font-size: 14.5px; 
    line-height: 16px; 
    color: rgba(55,55,54,.7); 
    margin-bottom: 0;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-alZFe.style-alZFe {  
   padding-bottom: 0px;  
    border-top-width: 1px !important;  
    border-top-style: solid;  
    border-top-color: initial;  
}  
#style-XI7Yo.style-XI7Yo {  
   font-size: 20px;  
}  
#style-7F57M.style-7F57M {  
   line-height: 24px;  
}  



.btn-link-ywy i  { 
    margin-right: 8px;
} 

.cop-2lp i  { 
    font-size: 16px; 
    color: #058fff;
} 

.icon-dcc:before { 
    content: "\e910";
} 
