* { 
    box-sizing: border-box;
} 

* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-r4n { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.25rem;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card-r4n  { 
    min-height: 180px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
} 

h4 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h4 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h4 { 
    font-size: 1.5rem;
} 

h4 { 
    margin-bottom: 0;
} 

.title-iwi { 
    font-weight: 700; 
    font-size: 15.5px; 
    line-height: 20px; 
    text-align: center; 
    text-transform: uppercase;
} 
* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-6oi { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.25rem;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card-6oi  { 
    min-height: 180px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
} 

h4 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h4 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h4 { 
    font-size: 1.5rem;
} 

h4 { 
    margin-bottom: 0;
} 

.title-jbs { 
    font-weight: 700; 
    font-size: 15.5px; 
    line-height: 20px; 
    text-align: center; 
    text-transform: uppercase;
} 
* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-lkb { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.25rem;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card-lkb  { 
    min-height: 180px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
} 

.dashboard-card:hover { 
    text-decoration: none; 
    color: #b34127;
} 

a:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

.dashboard-card-link:hover { 
    text-decoration: none;
} 

h4 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h4 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h4 { 
    font-size: 1.5rem;
} 

h4 { 
    margin-bottom: 0;
} 

.title-id7 { 
    font-weight: 700; 
    font-size: 15.5px; 
    line-height: 20px; 
    text-align: center; 
    text-transform: uppercase;
} 


* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-lkb { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.25rem;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card-lkb  { 
    min-height: 180px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
} 

.dashboard-card:hover { 
    text-decoration: none; 
    color: #b34127;
} 

a:hover { 
    color: #0056b3; 
    text-decoration: underline;
} 

.dashboard-card-link:hover { 
    text-decoration: none;
} 

h4 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h4 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h4 { 
    font-size: 1.5rem;
} 

h4 { 
    margin-bottom: 0;
} 

.title-id7 { 
    font-weight: 700; 
    font-size: 15.5px; 
    line-height: 20px; 
    text-align: center; 
    text-transform: uppercase;
} 


* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-o39 { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.25rem;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card-o39  { 
    min-height: 180px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
} 

h4 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h4 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h4 { 
    font-size: 1.5rem;
} 

h4 { 
    margin-bottom: 0;
} 

.title-8q3 { 
    font-weight: 700; 
    font-size: 15.5px; 
    line-height: 20px; 
    text-align: center; 
    text-transform: uppercase;
} 
* { 
    box-sizing: border-box;
} 

* { 
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: 0; 
    font-size: 100%;
} 

body { 
    margin: 0; 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    font-size: 1rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #212529; 
    text-align: left; 
    background-color: #fff;
} 

body { 
    color: #373736; 
    background: #f8f8f8!important;
} 

body { 
    padding-top: 0;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

:root { 
    --theme-color1: #232331; 
    --theme-color2: #F15834; 
    --theme-color3: #ff9205; 
    --bg-theme-color1: var(--theme-color1); 
    --bg-theme-color2: var(--theme-color2); 
    --bg-theme-color3: var(--theme-color3); 
    --border-theme-color1: var(--theme-color1); 
    --border-theme-color2: var(--theme-color2); 
    --border-theme-color3: var(--theme-color3); 
    --headings-color: #003c38; 
    --text-font: "Source Sans Pro",sans-serif; 
    --title-font: "Source Sans Pro",sans-serif; 
    --h2-font-size: 42px; 
    --h2-font-weight: 800; 
    --sec-title-color: var(--headings-color); 
    --sec-title-font-size: var(--h2-font-size); 
    --sec-title-font-family: var(--title-font); 
    --sec-title-font-weight: var(--h2-font-weight); 
    --sec-title-subtitle-font-family: var(--text-font); 
    --theme-light-background-text-color: var(--headings-color); 
} 

.card-7o6 { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.25rem;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

.card-7o6  { 
    min-height: 180px; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
} 

h4 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h4 { 
    margin-bottom: .5rem; 
    font-weight: 500; 
    line-height: 1.2;
} 

h4 { 
    font-size: 1.5rem;
} 

h4 { 
    margin-bottom: 0;
} 

.title-wtc { 
    font-weight: 700; 
    font-size: 15.5px; 
    line-height: 20px; 
    text-align: center; 
    text-transform: uppercase;
} 

.card-6oi {
    position: relative;
    overflow: hidden;
}

.card-6oi img {
    transition: transform 0.3s ease-in-out;
}

.card-6oi:hover img {
    transform: scale(1.1);
    margin-left: 30px; /* İstediğiniz boyuta göre ayarlayabilirsiniz */
}






